
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #677B8F;
}


@media only screen and (max-width: 600px) {
  .container {
    max-width: 1880px;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    min-height: calc(100vh - 0px);
  }
}


@media only screen and (min-width: 600px) {
  .container {
    max-width: 1880px;
    padding: 12px 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    min-height: calc(100vh - 30px);
  }
}


@media only screen and (min-width: 768px) {
  .container {
    padding: 30px 15px;
    min-height: calc(100vh - 70px);
  }
}


@media only screen and (min-width: 992px) {
  
}


@media only screen and (min-width: 1200px) {
  
}