
.active {
    background-color: red;
  }

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 20px;
  }
  
  .logo {
    margin-top: 5px;
    width: 114px;
  }
  
  .title {
    font-size: 0px;
  }
  .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    max-width: 355px;
  }
  .theme {
    display: flex;
    align-items: center;
  }
  .theme_image {
    margin-right: 18px;
  }
  .theme_text {
    font-size: 0px;
  }
  .messages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
  }



  .messages_img {
  }
  .notification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-right: 18px;
  }
  .notification_img {
    
  }
  .login_grup {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login_name {
    font-size: 0px;
  }
  .login_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  .login_avatar_img {
    width: 100%;
    height: auto;
  }
}


@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-top: 5px;
    width: 114px;
    margin-right: 20px;
  }
  
  .title {
    flex-grow: 1;
    font-size: 12px;
    font-weight: normal;

  }
  .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    max-width: 355px;
  }
  .theme {
    display: flex;
    align-items: center;
  }
  .theme_image {
    margin-right: 18px;
  }
  .theme_text {
    font-size: 0px;
  }
  .messages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
  }

  .messages_img {
  }
  .notification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-right: 18px;
  }
  .notification_img {
    
  }
  .login_grup {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login_name {
    font-size: 0px;
  }
  .login_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  .login_avatar_img {
    width: 100%;
    height: auto;
  }
}


@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .logo {
    width: 170px;
    margin-right: 64px;
  }
  
  .title {
    flex-grow: 1;
    font-size: 16px;
  }
  .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    max-width: 355px;
  }
  .theme {
    display: flex;
    align-items: center;
  }
  .theme_image {
    margin-right: 18px;
  }
  .theme_text {
    font-size: 0px;
  }
  .messages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
  }

  .notification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-right: 18px;
  }
  .notification_img {
    
  }
  .login_grup {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login_name {
    font-size: 0px;
  }
  .login_avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
  }
}


@media only screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .logo {
    width: 170px;
  }
  
  .title {
    text-align: left;
    flex-grow: 1;
    font-size: 16px;
  }
  .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    max-width: 225px;
  }
  .theme {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .theme_image {
    margin-right: 15px;
  }
  .theme_text {
    font-size: 16px;
  }
  .messages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
  }
  .notification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-right: 18px;
  }
  .notification_img {
    
  }
  .login_grup {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login_name {
    font-size: 0px;
  }
  
}


@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .title {
    font-size: 16px;
  }
  .wrap {
    max-width: 300px;
    margin-right: 41px;
  }

  .theme_image {
    margin-right: 15px;
  }

  .messages {
    margin-right: 29px;
  }

  .notification {
    margin-right: 18px;
  }

  .login_name {
    font-size: 16px;
    margin-right: 16px;
  }
}


/* 
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-top: 5px;
  margin-right: 55px;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 152%;
  flex-grow: 1;
}
.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 355px;
}
.theme {
  display: flex;
  align-items: center;  
  margin: auto
}
.theme_image {
  margin-right: 18px;
}
.theme_text {
  
}
.messages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}
.messages_img {
}
.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-right: 60px;
}
.notification_img {
  
}
.login_grup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login_name {
  margin-right: 16px;
}
.login_avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
} */

